/* Root Variables */
:root {
    --primary1: hsl(208, 80%, 67%);
    --primary2: hsl(120, 54%, 67%);
    --primary3: hsl(240, 60%, 74%);
    --secondary1: hsl(0, 0%, 20%);
    --secondary2: hsl(0, 0%, 100%);
    --secondary3: hsl(0, 0%, 96%);
    --secondary4: hsl(0, 0%, 98%);
    --secondary5: hsl(207, 80%, 50%);
    --secondary6: hsl(240, 100%, 90%);
    --secondary7: hsl(219, 39%, 19%);
    --secondary8: hsl(197, 71%, 80%);
    --secondary9: hsl(144, 56%, 69%);
    --secondary10: hsl(212, 73%, 59%);
    --secondary11: hsl(0, 0%, 40%);
    --secondary12: hsl(120, 63%, 74%);

    /* Shadow and effects */
    --text-shadow1:  
    2px 2px 3px hsla(0, 0%, 0%, 0.7),
    5px 5px 6px hsla(0, 0%, 0%, 0.6),
    10px 10px 12px hsla(0, 0%, 0%, 0.5),
    15px 15px 18px hsla(0, 0%, 0%, 0.4),
    20px 20px 25px hsla(0, 0%, 0%, 0.3),
    25px 25px 35px hsla(0, 0%, 0%, 0.2);

    /* Box Shadows */
    --boxshadow1: hsla(0, 0%, 0%, 0.1);
    --boxshadow2: hsla(0, 0%, 0%, 0.2);
    --boxshadow3: hsla(0, 0%, 0%, 0.6);
    --boxshadow4: 0 0 30px hsla(228, 21%, 91%, 0.37);
    --box-shadow: 0 15px 40px hsla(0, 0%, 0%, 0.1);

    /* Glass Effects */
    --blur: blur(30px);
    --glass-border: 2px solid hsla(0, 0%, 100%, 0.18);
    --glass-bg: hsla(0, 0%, 100%, 0.1);

    /* Animation Duration */
    --transition-fast: 0.3s;
    --transition-medium: 0.5s;
    --transition-slow: 0.8s;
}

/* Global Styles */
* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    background-color: var(--secondary3);
    line-height: 1.6;
    color: var(--secondary1);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
}

/* Header Section */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary1);
    position: relative;
    z-index: 1;
    padding: 2rem;
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Background Vedio */
.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: var(--secondary5); 
  font-weight: 800;
  text-shadow: var(--text-shadow1);
  padding: 1.5rem 2.5rem;
  margin-bottom: 5rem;
  backdrop-filter: var(--blur);
  background: var(--glass-bg);
  border: var(--glass-border);
  border-radius: 1rem;
  transform: translateY(-20px);
  opacity: 0;
  animation: slideInFade 1s ease-out forwards;
}

.tagline {
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    color: var(--primary2);
    font-weight: bold;
    font-style: italic;
    text-shadow: var(--text-shadow1);
    padding: 1rem 2rem;
    backdrop-filter: var(--blur);
    background: var(--glass-bg);
    border: var(--glass-border);
    border-radius: 0.8rem;
    transform: translateY(20px);
    opacity: 0;
    animation: slideInFade 1s ease-out forwards;
}

/* Navigation Bar */
.nav-bar {
    margin-top: 6rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    opacity: 0;
    animation: fadeIn 1s ease-out 0.6s forwards;
}

.nav-link {
    text-decoration: none;
    padding: 1.2rem 2rem;
    font-size: 1.3rem;
    font-weight: 900;
    border: none;
    border-radius: 0.8rem;
    color: var(--secondary1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform var(--transition-fast),
    box-shadow var(--transition-fast), color var(--transition-fast);  
}

.nav-link:nth-child(1) {
    background-color: var(--primary1);
    border: 2px solid var(--secondary10);
}

.nav-link:nth-child(2) {
    background-color: var(--primary2);
    border: 2px solid var(--secondary12);
}

.nav-link:nth-child(3) {
    background-color: var(--primary3);
    border: 2px solid var(--secondary6);
}

.nav-link::before{
content: "";
position: absolute;
z-index: -1;
opacity: 0;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: var(--glass-bg);
transform: scale3d(0.7, 1, 1);
transition: transform var(--transition-medium), opacity 
var(--transition-medium);
}

.nav-link:hover {
    background: transparent;
    color: var(--secondary2);
    font-weight: 900;
    backdrop-filter: var(--blur);
    border: var(--glass-border);
    text-shadow: var(--text-shadow1);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.2);
}

.nav-link:hover::before {
	opacity: 1;
	transform: scale3d(1, 1, 1);
} 

/* Quote Container */
.quote-container {
    position: relative;
    margin: 6rem auto;
    padding: 2rem;
    border-radius: 1rem;
    background: linear-gradient(130deg, var(--primary3),
     var(--primary1), var(--primary2));
    width: min(90%, 700px);
    box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1), 0 20px 60px 
    hsla(0, 0%, 0%, 0.5);
    transform: translateY(30px);
    opacity: 0;
    animation: slideInFade 1s ease-out forwards;
}
 
.quote-container .fa-solid {
    padding: 10px;
}
 
#quote, #author {
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    font-weight: bold;
    color: var(--secondary1);
    text-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.3);
    padding: 1rem;
    line-height: 1.5;
    opacity: 0;
    animation: fadeInText 2s forwards;
}
 
#new-quote-btn {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    background: linear-gradient(200deg, var(--primary1), var(--secondary10));
    color: var(--secondary2);
    transition: transform var(--transition-fast), 
    box-shadow var(--transition-fast), opacity 
    var(--transition-fast);
    box-shadow: 0px 4px 10px var(--boxshadow2);
    position: relative;
    overflow: hidden;
}
 
#new-quote-btn:hover {
    transform: translateY(-10px);
    box-shadow: 0px  15px 30px hsl(208, 80%, 67%, 0.4);
}

@keyframes slideInFade {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 

/* Breathing Exercise */   
.breathing-exercise {
    text-align: center;
    margin-top: 5rem;
    padding: 3rem;
    background: linear-gradient(135deg, var(--secondary8), var(--secondary9));
    border-radius: 1.5rem;
    box-shadow: 0px 4px 20px var(--boxshadow1);
    animation: slideInFade 1s ease-out forwards;
}

.breathing-exercise h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: var(--primary1);
    margin-bottom: 2rem;
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    border-radius: 1rem;
    padding: 1rem;
    text-shadow: var(--text-shadow1);
}

.breathing-description {
    font-size: clamp(1.5rem, 2vw, 1.2rem);
    color: var(--secondary7);
    margin-bottom: 3rem;
    line-height: 1.6;
}

.breathing-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 3rem;
}

#breathing-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(circle, var(--primary1), var(--secondary10));
    border: 5px solid #0c8c0cdb;
    box-shadow: 0px 0px 30px hsla(208, 80%, 67%, 0.7);
    transition: transform 4s ease-in-out, border-color 4s ease-in-out;
}

#breathing-circle.animate {
    animation: breathe 19s infinite;
}   

#breathing-instructions {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    color: #2e8b57;
    margin-bottom: 2rem;
    font-weight: 600;
}

#start-breathing-btn {
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    background: linear-gradient(135deg, var(--primary1), var(--secondary10), var(--secondary5));
    color: var(--secondary2);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition:all var(--transition-fast);
    box-shadow: 0px 5px 15px var(--boxshadow1);
}

#start-breathing-btn:hover {
   transform: translateY(-3px);
   box-shadow: 0 10px 25px var(--boxshadow2);
}

@keyframes breathe {
    0% {
        transform: scale(1);
        border-color: var(--primary2);
    }
    50% {
        transform: scale(1.5);
        border-color: var(--secondary6);
    }
    100% {
        transform: scale(1);
        border-color: var(--primary2);
    }
}


/* Quick Links Section */
.quick-links {
    text-align: center;
    padding: 3rem 2rem;
    margin-top: 2rem;
    background-color: var(--secondary3);
    border-radius: 1.2rem;
    box-shadow: 0 15px 40px var(--boxshadow1);
}

.quick-links h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: var(--primary1);
    margin-bottom: 3rem;   
    text-shadow: var(--text-shadow1);
    border-radius: 10px;
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    background-color: var(--secondary6);
    padding: 1rem;
    border-radius: 1rem;
}

.links-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    padding: 1rem;
}

.quick-link-card {
    text-decoration: none;
    background-color: var(--glass-bg);
    backdrop-filter: var(--blur);
    padding: 2rem;
    border-radius: 40px 0 40px 0;
    border: var(--glass-border);
    box-shadow: 0 10px 30px var(--boxshadow1);
    transition: all var(--transition-medium);
    transform: translateY(30px);
}

.quick-link-card:hover {
   transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 20px 40px var(--boxshadow2);
    background: linear-gradient(135deg, var(--secondary6), var(--secondary8));
}

.quick-link-card img {
    width: 50%;
    height: auto;
    max-height: 150px;
    margin: 1rem auto;
    border-radius: 0.8rem;
}

.card-content {
    padding: 1rem;
}

.card-content h3 {
    position: relative;
    top: -20px;
    font-size: 1.5rem;
    color: var(--primary1); 
}

.card-content p {
    font-size: 1rem;
    color: var(--secondary11);
    line-height: 1.6;
}


/* About Project Section */
#about-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary3);
    padding: 4rem 2rem;
    height: 400px;
    margin-top: 3rem;
    border-radius: 1.2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 15px 40px var(--boxshadow1);
    animation: slideInFade 1s ease-in-out forwards;
}

.about-container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex: 1;
   text-align: left;
   z-index: 1;
   margin-left: 2rem;
}

.about-content {
    max-width: 450px;
}

.about-content h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: var(--primary1);
    margin-bottom: 3rem;
    text-shadow: var(--text-shadow1);
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    border-radius: 1rem;
    background-color: var(--secondary6);
    margin-right: 2rem;
    font-weight: bold ;
    padding: 1rem;
}
  
.about-content p {
    color: var(--secondary1);
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
    line-height: 1.8;
}
  
.about-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    overflow: hidden; 
}
  
.about-image img {
   object-fit: cover;
   height: 100%;
   width: 100%; 
}

/* Additional Info Section */
.additional-info {
    background-color:  var(--secondary3);
    padding: 3rem;
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: 0px 15px 40px var(--boxshadow1);
    margin: 2rem auto;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideInFade 1s ease-out forwards;
}

.additional-info h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: var(--primary1);
    background-color: var(--secondary6);
    border-radius: 1rem;
    text-shadow: var(--text-shadow1);
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    margin-bottom: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.additional-info p {
    font-size: 1.2rem;
    color: var(--secondary1);
    background-color: var(--secondary3);
    line-height: 1.6;
    margin-top: 1rem;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--secondary8);
}

/* Daily Tips Table */
.daily-tips-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    background: linear-gradient(90deg, var(--primary1), var(--primary2), var(--secondary6), var(--primary1));
    background-size: 400% 400%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 4px 15px var(--boxshadow1);
    animation: gradientFlow 10s ease infinite;
   
}

.daily-tips-table th,
.daily-tips-table td {
    padding: 1.2rem;
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.daily-tips-table th {
    background-color: hsla(208, 80%, 67%, 0.8);
    color: var(--secondary2);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.daily-tips-table td {
    font-size: 1rem;
    color: var(--secondary3);
    font-weight: 900;
}

.daily-tips-table tr:hover {
    background-color:hsla(0, 0%, 100%, 0.1);
}


@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Mental Health Tips Section */
.mental-health-tips {
    text-align: center;
    padding: 5rem 2rem;
    background: linear-gradient(135deg, var(--secondary3), var(--secondary4));
    margin: 2rem auto;
    max-width: 1400px;
    border-radius: 1.5rem;
    box-shadow: 0px 15px 40px var(--boxshadow1);
    position: relative;
    overflow: hidden;
}

.mental-health-tips h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: var(--primary1);
    text-shadow: var(--text-shadow1);
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    background-color: var(--secondary6);
    font-weight: 700;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    transform: translateY(30px);
    opacity: 0;
    animation: slideInFade 1s ease-out forwards;

}

.tips-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.tip-card {
    background-color: var(--glass-bg);
    backdrop-filter: var(--blur);
    padding: 2rem;
    border-radius: 1.5rem;
    border: var(--glass-border);
    box-shadow: 0px 10px 30px var(--boxshadow1);
    transition: all var(--transition-medium);
    transform: translateY(30px);
    opacity: 0;
    animation: slideInFade 1s ease-out forwards;
}

.tip-card:hover {
    transform: translateY(-10px);
    background: linear-gradient(135deg, var(--secondary6), var(--secondary8));
    box-shadow: 0px 20px 40px var(--boxshadow2);
}

.tip-card i {
    font-size: 2.5rem;
    color: var(--primary1);
    margin-bottom: 1.5rem;
    transition: transform var(--transition-fast);
}

.tip-card:hover i {
    transform: scale(1.2);
    color: var(--primary2);
}
.tip-card h3 {
    font-size: 1.5rem;
    color: var(--secondary1);
    margin-bottom: 1rem;
}

.tip-card p {
    font-size: 1rem;
    color: var(--secondary11);
    line-height: 1.6;
}

/* Affirmation Section and Reflection Section*/
#affirmation-section, #reflection-section  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background: linear-gradient(135deg, var(--secondary3), var(--secondary4));
}

.affirmation-card, .reflection-card {
    background: linear-gradient(200deg, var(--primary1), var(--secondary9), var(--primary3));
    border-radius: 2rem;
    padding: 3rem;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 20px 40px var(--boxshadow1);
    transition: all var(--transition-medium);
    position: relative;
    overflow: hidden;
    animation: slideInFade 1s ease-out forwards;
}

.affirmation-card h2, .reflection-card h2, #combined-favorites-section h2
{
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: var(--primary1);
    margin-bottom: 7rem;
    text-shadow: var(--text-shadow1);
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    padding: 1rem;
    border-radius: 1rem;
   
}

#affirmation-text {
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    font-weight: 700;
    color: var(--secondary1);
    margin-bottom: 6rem;
    transition: opacity var(--transition-medium);
    line-height: 1.6;
}

.affirmation-card button, 
#save-affirmation-btn, #save-reflection-btn {
    padding: 1.5rem 3rem;
    gap: 5rem;
    font-size: 1.2em;
    background: linear-gradient(135deg, var(--primary1), var(--secondary10), var(--secondary5));
    color: var(--secondary2);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform var(--transition-fast), opacity var(--transition-fast);
}

.affirmation-card button:hover, #save-affirmation-btn:hover, #save-reflection-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#save-affirmation-btn, #save-reflection-btn {
    margin-left: 1rem;
}
#reflection-section {
    margin-top: 3rem;
}
.reflection-card p{
    font-size: 1.5rem;
    color: var(--secondary3);
    font-weight: 900;
    margin-bottom: 2rem;
}

#reflection-input {
    width: 100%;
    height: 120px;
    margin-top: 1rem 0;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid var(--secondary2);
    border-radius: 1rem;
    background: hsla(0, 0%, 100%, 0.9);
    color: var(--secondary1);
    resize: none;
    margin-bottom: 2rem;
    transition: border-color 0.3s ease;
}

#reflection-input:focus {
    border-color: var(--primary1);
    outline: none;
    box-shadow: 0 5px 15px var(--boxshadow1);
}

/* Heart Icon */
.heart-icon {
    font-size: 2rem;
    cursor: pointer;
    transition: all var(--transition-fast);
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--secondary4);
    position: relative;
} 

.heart-icon:hover {
    font-weight: 900;
    color: var(--primary1);
    transform: scale(1.1);
}

/* Popup Style */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90vh;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--primary1);
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    color: var(--secondary3);
    padding: 10rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all var(--transition-medium);
    z-index: 1000;
} 
.popup.active {
    opacity: 1;
    visibility: visible;
}

.popup h2 {
   padding: 2rem;
   font-weight: 900;
   font-size: 2rem;
   text-shadow: var(--text-shadow1);
   backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    border-radius: 1rem;
    margin-bottom: 2rem;
 
}

/* Combined Favorites Section */
#combined-favorites-section {
    background: linear-gradient(135deg, var(--secondary6), var(--secondary8), var(--secondary9));
    border-radius: 2rem;
    padding: 4rem;
    max-width: 800px;
    margin: 3rem auto;
    box-shadow: 0px 15px 40px var(--boxshadow1);
    margin-top: 2rem;
}

#combined-favorites-list {
    margin-top: 2rem;
    list-style-type: none;
    padding: 0;
}
.combined-item {
    background: linear-gradient(135deg, var(--primary1), var(--primary2), var(--primary3));
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px var(--boxshadow1);
    font-weight: 600;
    color: var(--secondary2);
    transition: all var(--transition-fast);
}

.combined-item:hover {
    transform: translateX(10px);
    box-shadow: 0 8px 20px var(--boxshadow2);
}

#combined-favorites-list button {
    background-color: var(--secondary2);
    color: var(--primary1);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color var(--transition-fast), 
    color var(--transition-fast);  
}

#combined-favorites-list button:hover {
    background-color:var(--primary1);
    color: var(--secondary2);
}

.hidden-favorites {
    display: none;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--secondary4);
    border-radius: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: var(--box-shadow);
}
.hidden-favorites.active {
    display: block;
    animation: slideInFade 1s ease-out forwards;
}

/* Exercise Intro Section */
#exercise-intro {
    margin-top: 9rem;
}

#exercise-intro h2 {
   font-size: clamp(2rem, 4vw, 2.5rem);
   padding: 2rem;
   text-shadow: var(--text-shadow1);
   font-weight: 700;  
   color: var(--secondary10);
   backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    background-color: var(--secondary6);
   
}

#exercise-description {
    margin-bottom: 2rem;
    color: var(--secondary7);
    font-size: 1.6rem;
    font-weight: bold;
    transform: translateY(20px);
    transition: transform 0.6s ease;
} 

.arrow{
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--primary3);
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/* Exercise Grid Layout */
#exercise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
  }
  .exercise-card {
    background: linear-gradient(135deg, var(--primary2), var(--secondary9));
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    backdrop-filter: var(--blur);
    border: var(--glass-border);
    box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1), 0 20px 60px hsla(0, 0%, 0%, 0.05);
    transform: translateY(30px);
    opacity: 0;
    animation: slideInFade 1s ease-out forwards;
    height: 100%;
    transition: all var(--transition-medium);
  }
  .exercise-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px hsla(0, 0%, 0%, 0.2);
  }
  .exercise-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1.5rem;
    padding: 2px;
    background: linear-gradient(45deg, transparent, hsla(0, 0%, 100%, 0.5), transparent);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
  }
  .card-content {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .card-content p {
    font-size: 1.2rem;
    color: var(--secondary1);
    font-weight: 600;
    margin-left:  4rem;
    line-height: 1.6;
}


.exercise-card h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
   padding: 2rem;
   text-shadow: var(--text-shadow1);
   font-weight: 700;  
   color: var(--secondary10);
   backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
}
.exercise-tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
  
.instructions-wrapper {
    background: var(--glass-bg);
    backdrop-filter: var(--blur);
    border: var(--glass-border);
    border-radius: 1rem;
    padding: 1.5rem;
    flex: 1;
    overflow-y: auto;
    max-height: 400px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary1) transparent;
}
.instructions-wrapper::-webkit-scrollbar {
    width: 6px;
}
.instructions-wrapper::-webkit-scrollbar-track {
    background: transparent;
}
.instructions-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--primary1);
    border-radius: 20px;
}
.instructions-wrapper h3 {
    font-size: 1.8rem;
    color: var(--secondary10);
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    background: inherit;
    padding: 0.5rem 0;
    text-shadow: var(--text-shadow1);
    backdrop-filter: var(--blur);
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.2);
}
.instructions-wrapper ol {
    padding-left: 1rem; /* Reduced padding to bring list items closer to content */
    font-size: 1rem;
    color: var(--secondary1);
    list-style-position: inside; /* Ensures bullets/numbers are inside the content flow */
}
.instructions-wrapper li {
    margin-bottom: 0.8rem;
    line-height: 1.6;
    padding-left: 0; /* Removed padding to align content closer */
}
.instructions-wrapper li::marker {
    color: var(--secondary3);
    font-weight: 800;
}
/* Normal Button Styling */
#new-exercise-btn {
    background-color: var(--primary1);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(135deg, var(--primary1), var(--secondary10), var(--secondary5));
    color: var(--secondary2);
    border: none;
    margin-top: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform var(--transition-fast), opacity var(--transition-fast);
}
#new-exercise-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
/* Loading State */
.exercise-card.loading .card-content {
    pointer-events: none;
}
/* Workout Routines Section */
#workout-routines {
    background-color: var(--secondary4);
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: 0px 15px 40px var(--boxshadow1);
    max-width: 600px;
    margin: 3rem auto;
    transform: translateY(30px);
    opacity: 0;
    animation: slideInFade 1s ease-out forwards;
}

#workout-routines h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    padding: 2rem;
    text-shadow: var(--text-shadow1);
    font-weight: 700;  
    color: var(--secondary10);
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    background-color: var(--secondary6);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#workout-routines p {
    margin-bottom: 2rem;
}
#routine-options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0;
}

.routine-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    background: var(--glass-bg);
    backdrop-filter: var(--blur);
    border: var(--glass-border);
    box-shadow: 0 5px 15px var(--boxshadow1);
    transition: all var(--transition-fast);
}

.routine-box:hover {
    transform: translateX(10px);
    background: linear-gradient(135deg, var(--secondary6), var(--secondary8));
}

.routine-box input {
    display: none;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid;
    background-color: var(--secondary2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    position: relative;
    transition:  all var(--transition-fast);
}

.yoga { border-color: var(--primary1);  color: var(--secondary10)}
.music { border-color: var(--primary2); color: var(--secondary12);}
.workout { border-color: var(--primary3); color: var(--secondary6);}

.inner-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color var(--transition-fast);
}

.routine-box input:checked + .circle .inner-circle {
    background-color: currentColor;
}

#workout-routines button {
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    background: linear-gradient(135deg, var(--primary1), var(--secondary10), var(--secondary5));
    color: var(--secondary2);
    border: none;
    margin-top: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform var(--transition-fast), opacity var(--transition-fast);
}

#workout-routines button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/*Recommendations*/
#recommendations {
    margin-top: 20px;
    font-size: 1.2em;
    padding: 15px;
    background: var(--secondary2);
    border-radius: 8px;
    box-shadow: 2px 2px 8px var(--boxshadow1);
}

.link-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.link-container a {
    display: inline-block;
    background-color: var(--primary2);
    color: var(--secondary2);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.link-container a:hover {
    background-color: var(--secondary12);
}

/*Physical Activity Section */
#physical-activity-section, #daily-challenge-section {
    padding: 8rem 2rem;
    background: linear-gradient(135deg, var(--secondary3), var(--secondary4));
}

#physical-activity-section h2, #daily-challenge-section h2 {
    font-size: 2.5rem;
    color: var(--secondary10);
    margin-bottom: 4rem;
    text-shadow: var(--text-shadow1);
    font-weight: 700;
    margin-bottom: 7rem;
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    background-color: var(--secondary6);
    padding: 1rem;
    border-radius: 1rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.activity-card {
    background: linear-gradient(135deg, var(--secondary6), var(--secondary9), var(--secondary8));
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0px 10px 30px var(--boxshadow1);
   /* width: 300px; */
    transition: all var(--transition-medium);
    transform: translateY(30px);
    opacity: 0;
    margin-top: 4rem;
    animation: slideInFade 1s ease-out forwards;
}

.activity-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px var(--boxshadow2);
}

.activity-card .icon {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--primary3);
    transition: transform var(--transition-fast);
}

.activity-card:hover .icon {
    transform: scale(1.2);
}

.activity-card h3 {
    font-size: 1.5rem;
    color: var(--secondary1);
    margin-bottom: 1rem;
    
}

.activity-card p {
    font-size: 1rem;
    color: var(--secondary11);
    line-height: 1.6;
}

/*GIF Section */ 
#gif-section {
    position: relative;
    height: 500px;
    background: linear-gradient(135deg, var(--primary1), var(--primary2)),
    url('activities.gif') no-repeat center center/cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

#gif-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.gif-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.gif-content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 2rem;
}

.gif-text {
    font-size: clamp(2.5rem, 6vw, 4rem);
    color: var(--primary1);
    margin-bottom: 2rem;
    text-transform: uppercase;
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    letter-spacing: 4px;
    padding: 1rem;
    border-radius: 1rem;
}

.gif-subtext {
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: var(--secondary2);
    font-weight: 600;
    margin-top: 2rem;
}

/*Challenge Card Section */
.challenge-card {
    background: linear-gradient(135deg, var(--secondary6), var(--secondary9), var(--secondary8));
    padding: 3rem;
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow);
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translateY(30px);
    opacity: 0;
    animation: slideInFade 1s ease-out forwards;
}

#challenge-text {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    color: var(--secondary1);
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1.6;
}

#challenge-text .fa-regular {
    font-size: 0.8em;
    color: var(--primary3);
    padding: 0.5rem;
}

#new-challenge-btn, #save-challenge-btn {
    padding: 1.5rem 3rem;
    gap: 5rem;
    font-size: 1.2em;
    background: linear-gradient(135deg, var(--primary1), var(--secondary10), var(--secondary5));
    color: var(--secondary2);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform var(--transition-fast), opacity var(--transition-fast);
}

#new-challenge-btn:hover, #save-challenge-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Saved Challengs Section */
#saved-challenges-section {
    min-height: 100vh;
    margin: 2rem auto;
    padding: 2rem;
    background: linear-gradient(135deg, var(--secondary6), var(--secondary8), var(--secondary9));
    border-radius: 1.5rem;
    max-width: 800px;
    overflow-y: auto;
    box-shadow: 0px 10px 30px var(--boxshadow1);
}

.saved-container {
    text-align: center;
    padding: 2rem;
}
.saved-container h2 {
    font-size: 2.5rem;
    color: var(--secondary10);
    margin-bottom: 4rem;
    text-shadow: var(--text-shadow1);
    font-weight: 700;
    margin-bottom: 7rem;
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow4);
    border: var(--glass-border);
    padding: 1rem;
    border-radius: 1rem;
}

#saved-challenges-list {
    margin-top: 2rem;
}
.saved-item {
    background: linear-gradient(135deg, var(--primary1), var(--primary2), var(--primary3)); 
    padding: 1.5rem;
    font-size: 1em;
    font-weight: 800;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0px 5px 15px var(--boxshadow1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all var(--transition-fast);
}

.saved-item:hover {
    transform: translateX(10px);
    box-shadow: 0 8px 20px var(--boxshadow2);
}
.saved-item button {
    background-color: var(--secondary2);
    color: var(--primary1);
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all var(--transition-fast);  
}
.saved-item button:hover {
    background-color:var(--primary1);
    color: var(--secondary2);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px var(--boxshadow1);
}

footer {
    background: linear-gradient(
        90deg, 
        var(--primary1),
        var(--primary2),
        var(--primary3),
        var(--secondary8),
        var(--secondary9),
        var(--secondary6)
     );
    color: var(--secondary1);
    text-align: center;
    padding: 3rem 2rem;
    position: relative;
    margin-top: 3rem;
}

footer p {
    font-size: 1rem;
    color: var(--secondary1);
    margin-top: 1.5rem;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

/* Big Monitors (1200px and above) */
@media (min-width: 1200px) {
    .container {
        height: 100vh;
    }
    .content {
        padding: 4rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    .tagline {
        font-size: 1.8rem;
    }
    .nav-bar {
        gap: 2rem;
    }
    .nav-link {
        font-size: 1.5rem;
    }
    .quote-container {
        width: 700px;
    }
    #quote, #author {
        font-size: 1.8rem;
    }
    .breathing-exercise {
        padding: 4rem;
    }
    .breathing-exercise h2 {
        font-size: 2.5rem;
    }
    .breathing-description {
        font-size: 1.5rem;
    }
    #breathing-circle {
        width: 150px;
        height: 150px;
    }
    .quick-links h2 {
        font-size: 2.5rem;
    }
    .quick-link-card {
        padding: 3rem;
    }
    .quick-link-card img {
        width: 60%;
    }
    .about-content h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .about-content p {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 1rem;
    }
    .additional-info h2 {
        font-size: 2.5rem;
    }
    .additional-info p {
        font-size: 1.2rem;
    }
    .daily-tips-table th, .daily-tips-table td {
        font-size: 1.2rem;
    }
    .mental-health-tips h2 {
        font-size: 2.5rem;
    }
    .tip-card {
        padding: 3rem;
    }
    .tip-card h3 {
        font-size: 1.8rem;
    }
    .tip-card p {
        font-size: 1.2rem;
    }
    .affirmation-card h2, .reflection-card h2 {
        font-size: 2.5rem;
    }
    #affirmation-text {
        font-size: 1.8rem;
    }
    #reflection-input {
        height: 150px;
    }
    .exercise-card h2 {
        font-size: 2.5rem;
    }
    .exercise-card p {
        font-size: 1.2rem;
    }
    #workout-routines h2 {
        font-size: 2.5rem;
    }
    .challenge-card {
        padding: 4rem;
    }
    #challenge-text {
        font-size: 1.8rem;
    }
    .saved-container h2 {
        font-size: 2.5rem;
    }
    .saved-item {
        padding: 2rem;
    }
}

/* Small Monitors (992px and 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        height: 90vh;
    }
    .content {
        padding: 3rem;
    }
    h1 {
        font-size: 3rem;
    }
    .tagline {
        font-size: 1.5rem;
    }
    .nav-bar {
        gap: 1.5rem;
    }
    .nav-link {
        font-size: 1.3rem;
    }
    .quote-container {
        width: 600px;
    }
    #quote, #author {
        font-size: 1.5rem;
    }
    .breathing-exercise {
        padding: 3rem;
    }
    .breathing-exercise h2 {
        font-size: 2rem;
    }
    .breathing-description {
        font-size: 1.2rem;
    }
    #breathing-circle {
        width: 120px;
        height: 120px;
    }
    .quick-links h2 {
        font-size: 2rem;
    }
    .quick-link-card {
        padding: 2rem;
    }
    .quick-link-card img {
        width: 50%;
    }
    .about-content h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .about-content p {
        font-size: 0.8rem;
        line-height: 1.6;
        margin-bottom: 0.8rem;
        margin-right: 2rem;
    }
    .additional-info h2 {
        font-size: 2rem;
    }
    .additional-info p {
        font-size: 1rem;
    }
    .daily-tips-table th, .daily-tips-table td {
        font-size: 1rem;
    }
    .mental-health-tips h2 {
        font-size: 2rem;
    }
    .tip-card {
        padding: 2rem;
    }
    .tip-card h3 {
        font-size: 1.5rem;
    }
    .tip-card p {
        font-size: 1rem;
    }
    .affirmation-card h2, .reflection-card h2 {
        font-size: 2rem;
    }
    #affirmation-text {
        font-size: 1.5rem;
    }
    #reflection-input {
        height: 120px;
    }
    .exercise-card h2 {
        font-size: 2rem;
    }
    .exercise-card p {
        font-size: 1rem;
    }
    #workout-routines h2 {
        font-size: 2rem;
    }
    .challenge-card {
        padding: 3rem;
    }
    #challenge-text {
        font-size: 1.5rem;
    }
    .saved-container h2 {
        font-size: 2rem;
    }
    .saved-item {
        padding: 1.5rem;
    }
}


/* Tablets (768px and 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        height: 80vh;
    }
    .content {
        padding: 2rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .tagline {
        font-size: 1.2rem;
    }
    .nav-bar {
        margin-bottom: 2rem;
    }
    .nav-link {
        font-size: 1.1rem;
    }
    .quote-container {
        width: 90%;
    }
    #quote, #author {
        font-size: 1.2rem;
    }
    .breathing-exercise {
        padding: 2rem;
    }
    .breathing-exercise h2 {
        font-size: 1.8rem;
    }
    .breathing-description {
        font-size: 1rem;
    }
    #breathing-circle {
        width: 100px;
        height: 100px;
    }
    .links-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-links h2 {
        font-size: 1.8rem;
    }
    .quick-link-card {
        padding: 1.5rem;
    }
    
    .about-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
       
    }
    .about-content {
        width: 100%;
        text-align: left;
        margin-right: 22rem;
    }
    .about-image {
        width: 40%;
    }
    .about-content h2 {
        font-size: 1.8rem;
    }
    .about-content p {
        font-size: 0.9rem;

    }
    .additional-info h2 {
        font-size: 1.8rem;
    }
    .additional-info p {
        font-size: 0.9rem;
    }
    .daily-tips-table th, .daily-tips-table td {
        font-size: 0.9rem;
    }
    .mental-health-tips h2 {
        font-size: 1.8rem;
    }
    .tip-card {
        padding: 1.5rem;
    }
    .tip-card h3 {
        font-size: 1.2rem;
    }
    .tip-card p {
        font-size: 0.9rem;
    }
    .affirmation-card h2, .reflection-card h2 {
        font-size: 1.8rem;
    }
    #affirmation-text {
        font-size: 1.2rem;
    }
    #reflection-input {
        height: 100px;
    }
    .exercise-card h2 {
        font-size: 1.8rem;
    }
    .exercise-card p {
        font-size: 0.9rem;
    }
    #workout-routines h2 {
        font-size: 1.8rem;
    }
    .activity-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .challenge-card {
        padding: 2rem;
    }
    #challenge-text {
        font-size: 1.2rem;
    }
    .saved-container h2 {
        font-size: 1.8rem;
    }
    .saved-item {
        padding: 1rem;
    }
}

  /* Small Devices (phones, 480px to 767px) */
  @media (min-width: 480px) and (max-width: 767px) {
    /* Global Typography */
    h1 {
      font-size: 2.2rem;
      padding: 1.2rem 1.8rem;
      margin-bottom: 4rem;
    }
  
    .tagline {
      font-size: 1.1rem;
      padding: 0.8rem 1.2rem;
    }
  
    /* Navigation */
    .nav-bar {
      margin-top: 4rem;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  
    .nav-link {
      padding: 1rem 1.5rem;
      font-size: 1.1rem;
    }
  
    /* Quote Container */
    .quote-container {
      margin: 4rem auto;
      padding: 1.8rem;
    }
  
    #quote,
    #author {
      font-size: 1.2rem;
      padding: 0.8rem;
    }
  
    #new-quote-btn {
      padding: 0.9rem 1.8rem;
      font-size: 1rem;
    }
  
    /* Breathing Exercise */
    .breathing-exercise {
      padding: 2rem;
      margin-top: 4rem;
    }
  
    .breathing-exercise h2 {
      font-size: 1.8rem;
      padding: 0.9rem;
    }
  
    .breathing-description {
      font-size: 1rem;
    }
  
    #breathing-circle {
      width: 90px;
      height: 90px;
    }
  
    #breathing-instructions {
      font-size: 1.2rem;
    }
  
    #start-breathing-btn {
      padding: 1rem 2rem;
      font-size: 1.1rem;
    }
  
    /* Quick Links */
    .quick-links {
      padding: 2rem 1.5rem;
    }
  
    .quick-links h2 {
      font-size: 1.8rem;
      padding: 0.9rem;
    }
  
    .links-container {
      gap: 2rem;
    }
  
    .quick-link-card {
      padding: 1.5rem;
    }
  
    .card-content h3 {
      font-size: 1.3rem;
    }
  
    .card-content p {
      font-size: 0.95rem;
    }
  
    /* About Project */
    #about-project {
      flex-direction: column;
      padding: 2rem 1rem;
      height: auto;
    }
  
    .about-container, .about-content {
      flex-direction: column;
      text-align: center;
      margin-left: 0;
    }
  
    .about-content h2 {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
  
    .about-content p {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-bottom: 1.5rem;
    }
  
    .about-image {
     width: 100%;
     height: 150px;
     position: static;
     margin-top: 1.5rem;
    }
    .about-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
    /* Additional Info */
    .additional-info {
      padding: 2rem 1.5rem;
    }
  
    .additional-info h2 {
      font-size: 1.8rem;
      padding: 0.9rem;
    }
  
    .additional-info p {
      font-size: 1rem;
      padding: 0 0.8rem;
    }
  
    /* Daily Tips Table */
    .daily-tips-table th {
      font-size: 0.9rem;
      padding: 1rem 0.8rem;
    }
  
    .daily-tips-table td {
      font-size: 0.9rem;
      padding: 1rem 0.8rem;
    }
  
    /* Mental Health Tips */
    .mental-health-tips {
      padding: 2.5rem;
    }
  
    .mental-health-tips h2 {
      font-size: 1.8rem;
      padding: 0.9rem;
    }
  
    .tip-card {
      padding: 1.5rem;
    }
  
    .tip-card i {
      font-size: 2rem;
    }
  
    .tip-card h3 {
      font-size: 1.3rem;
    }
  
    .tip-card p {
      font-size: 0.95rem;
    }
  
    /* Affirmation & Reflection */
    #affirmation-section,
    #reflection-section {
      padding: 2.5rem 1.5rem;
    }
  
    .affirmation-card,
    .reflection-card {
      padding: 2rem;
    }
  
    .affirmation-card h2,
    .reflection-card h2,
    #combined-favorites-section h2 {
      font-size: 1.8rem;
      padding: 0.9rem;
      margin-bottom: 4rem;
    }
  
    #affirmation-text {
      font-size: 1.3rem;
      margin-bottom: 4rem;
    }
  
    .affirmation-card button,
    .reflection-card button,
    #show-favorites-btn,
    #show-reflection-favorites-btn {
      padding: 1rem 2rem;
      font-size: 1.1rem;
    }
  
    .reflection-card p {
      font-size: 1.3rem;
    }
  
    #reflection-input {
      height: 110px;
    }
  
    /* Combined Favorites */
    #combined-favorites-section {
      padding: 2rem;
    }
  
    .combined-item {
      padding: 1.2rem;
    }
  
    #combined-favorites-list button {
      padding: 0.9rem;
      font-size: 0.95rem;
    }
  
    /* Exercise Grid */
    #exercise-grid {
      padding: 1.5rem;
      gap: 1.5rem;
    }
  
    .card-content {
      padding: 1.5rem;
      gap: 1.2rem;
    }
  
    .exercise-card h2 {
      font-size: 1.8rem;
      padding: 1.2rem;
    }
  
    .instructions-wrapper {
      padding: 1.2rem;
      max-height: 350px;
    }
  
    .instructions-wrapper h3 {
      font-size: 1.4rem;
    }
  
    .instructions-wrapper ol {
      padding-left: 0.8rem;
      font-size: 0.95rem;
    }
  
    /* Workout Routines */
    #workout-routines {
      padding: 2rem 1.5rem;
    }
  
    #workout-routines h2 {
      font-size: 1.8rem;
      padding: 1.2rem;
    }
  
    .routine-box {
      padding: 0.9rem 1.2rem;
    }
  
    #workout-routines button {
      padding: 1rem 2rem;
      font-size: 1.1rem;
    }
  
    /* Physical Activity */
    #physical-activity-section,
    #daily-challenge-section {
      padding: 4rem 1.5rem;
    }
  
    #physical-activity-section h2,
    #daily-challenge-section h2 {
      font-size: 1.8rem;
      padding: 0.9rem;
      margin-bottom: 4rem;
    }
  
    .activity-card {
      padding: 1.5rem;
      margin-top: 2.5rem;
    }
  
    .activity-card .icon {
      font-size: 2.2rem;
    }
  
    .activity-card h3 {
      font-size: 1.3rem;
    }
  
    /* GIF Section */
    #gif-section {
      height: 350px;
    }
  
    .gif-text {
      font-size: 2.2rem;
      padding: 0.9rem;
    }
  
    .gif-subtext {
      font-size: 1.2rem;
    }
  
    /* Challenge Card */
    .challenge-card {
      padding: 2rem;
    }
  
    #challenge-text {
      font-size: 1.1rem;
    }
  
    #new-challenge-btn,
    #save-challenge-btn {
      padding: 1rem 2rem;
      font-size: 1.1rem;
    }
  
    /* Saved Challenges */
    #saved-challenges-section {
      padding: 2rem 1.5rem;
    }
  
    .saved-container h2 {
      font-size: 1.8rem;
      padding: 0.9rem;
      margin-bottom: 3rem;
    }
  
    .saved-item {
      padding: 1.2rem;
    }
  
    .saved-item button {
      padding: 0.8rem 1.2rem;
      font-size: 1rem;
    }
  
    /* Footer */
    footer {
      padding: 2.5rem 1.5rem;
    }
  
    footer p {
      font-size: 0.95rem;
    }
  
    /* Popup */
    .popup {
      padding: 3rem 1.5rem;
      height: 85vh;
    }
  
    .popup h2 {
      padding: 1.5rem;
      font-size: 1.8rem;
    }
  }
  @media (max-width: 478px) {
    #about-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        padding: 2rem 1rem;
        text-align: center;
    }
    .about-image {
       display: none;
    }
   
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 1rem 0;
    }
    .about-content {
        max-width: 90%; /* Prevents content from being too wide */
    }
    .about-content h2 {
        font-size: 1.6rem; /* Reduce size for small screens */
        margin-bottom: 1rem;
        padding: 0.5rem;
    }
    .about-content p {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}